{% trans_default_domain 'FOSUserBundle' %}

{% block login %}

<!-- <form class="form-inline" style="width:100%;text-align:center;" role="form" action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <p style="display:inline-block;font-size:16px;">
        Connectez vous ou inscrivez vous en quelques clics.
    </p>
    <div class="form-group">
        <input type="text" placeholder="{{ 'security.login.username'|trans }}" class="form-control" name="_username" value="{{ last_username }}" required="required">
    </div>
    <div class="form-group">
        <input type="password" placeholder="{{ 'security.login.password'|trans }}" class="form-control" name="_password" required="required">
    </div>
    <p style="display:inline-block;">
        <input type="checkbox" id="remember_me" name="_remember_me" value="" />
        <label style="font-size:14px;font-weight:normal;" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
    </p>

    <button type="submit" class="btn btn-success" id="_submit" name="_submit">{{ 'security.login.submit'|trans }}</button>
</form> -->

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">

                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin">{{ 'security.login.submit'|trans }}</a>
                    <div class="dropdown-menu" style="padding:15px;width:200px;">
                      <form role="form" action="{{ path("fos_user_security_check") }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="{{ 'security.login.username'|trans }}" name="_username" value="{{ last_username }}" required="required">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="{{ 'security.login.password'|trans }}" name="_password" required="required">
                        </div>
                        <div class="checkbox checkbox-inline">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            <label style="font-size:14px;font-weight:normal;" for="remember_me">
                                {{ 'security.login.remember_me'|trans }}
                            </label>
                        </div>
                        <br />
                        <br />
                        <button type="submit" class="btn btn-success" id="_submit" name="_submit">{{ 'security.login.submit'|trans }}</button>
                      </form>
                    </div>

            </li>
          <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
        </ul>
      </div>


{% endblock login %}