{% extends 'DpMainBundle::layout.html.twig' %}
{% trans_default_domain 'DpMainBundle' %}

{% block header %}
    Dofus Pano
{% endblock %}

{% block content %}

{% if import.error is defined and import.error is not empty %}
    <div class="alert alert-danger" role="alert">{{ import.error|trans }}</div>
{% elseif import.success is defined and import.success is not empty %}
    <div class="alert alert-success" role="alert">
        <a href="{{ path('DpMainBundle_stuff_voir', { 'user': app.user.username, 'stuffId': import.stuffId }) }}">
            {{ import.success|trans }}
        </a>
    </div>
{% endif %}

    <div class="bs-callout bs-callout-info">
        {{ form_start(form) }}
        {{ form_errors(form) }}

            <h4>
                {{ form_label(form.url, 'import.form.label'|trans ~ ' : ') }}
            </h4>
            <div class="col-xs-4">
                {{ form_widget(form.url, {'attr': {'class': 'form-control', 'placeholder': 'import.form.placeholder'|trans}}) }}
            </div>
            <div>{{ form_errors(form.url) }}</div>

            <button type="submit" class="btn btn-default">{{ 'import.form.submitbutton'|trans }}</button>

            {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}